node_modules
dist
prebuild.js
postbuild.js
gh3lib-builder
gh3sp-lib
gh3sp-ide
gh3sp-ext
gh3sp-installer
test-libraries
main.gh3
out/
.vscode
debugger-temp
gh3sp-linux-arm64
gh3sp-linux-x64
gh3sp-macos-arm64
gh3sp-macos-x64
gh3sp-win-x64.exe
