body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

header {
    background-color: #282c34;
    color: white;
    padding: 10px 20px; /* Spaziatura interna */
    display: flex;
    justify-content: space-between; /* Spaziatura tra logo e nav */
    align-items: center; /* Centra verticalmente */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Ombra per profondità */
}

.logo {
    font-size: 24px; /* Dimensione del testo */
    font-weight: bold; /* Grassetto */
}

nav {
    display: flex;
}

button {
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Transizioni per il hover */
}

button:hover {
    background-color: #21a1f1; /* Colore di hover */
    transform: scale(1.05); /* Effetto zoom al passaggio del mouse */
}

#editor {
    flex-grow: 1; /* Rende l'editor occupare lo spazio rimanente */
    background-color: #2e2e2e; /* Colore di sfondo scuro per l'editor */
    color: #ffffff; /* Colore del testo chiaro per l'editor */
}

#console {
    background-color: #282c34; /* Colore di sfondo scuro per la console */
    padding: 10px;
    border-top: 1px solid #444;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 25%;
    z-index: 10;
}

#console h2 {
    margin: 0;
    font-size: 18px;
}

#output {
    background-color: #1e1e1e; /* Colore di sfondo scuro per l'output */
    border: 1px solid #444; /* Colore del bordo scuro */
    padding: 10px;
    white-space: pre-wrap; /* Mantiene la formattazione */
    overflow: auto; /* Permette lo scroll se il contenuto è troppo lungo */
    color: #ffffff; /* Colore del testo chiaro per l'output */
}